<% if current_user %>
  <% if current_user.profile.blank? %>
    <h1>Edit Your Profile </h1>
    <h3><%= link_to 'Edit profile', new_profile_path %>
  <% else %>
    <%= render 'welcome/profile' %>
  <% end %>
<% else %>
  <div class="jumbotron">
    <h2>Welcome to the Instacram!</h2>
    <p class="lead">
      You'll love managing your Photos with our application. Sign up!
    </p>
  </div>

<% end %>
